@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    margin-top: 50px;
    display: flex;
    justify-content: center;


}

.banner-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    width: 80%;
    height: 80vh;
    background-color: rgb(14, 13, 13);
}

.banner-section div {
    width: 40%;
}

.header-texts {
    color: azure;
}

.header-texts h1 {
    color: azure;
    font-size: 3.5vw;
}

button {
    color: azure;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(241, 53, 53);
    padding: 15px 15px;
}

/* .header-img  {
    height: 100%;
   border: 1px solid red;
} */
/* header styles end */


/* middle section style */

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.middle-section {
    display: flex;
    width: 80%;

}

.side-menu {
    background-color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 30px;
    height: 200px;
    width: 20%;
}

a {
    text-decoration: none;
    color: azure;
}

.blog-anchor {
    color: black;
}

.inactive-button {

    background-color: azure;
    color: black;
    margin-top: 20px;

}

.blogs {

    margin-left: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 20px;
}

.blog {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
}

.card-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-images div {
    /* border: 1px solid red; */
    width: 33%;
}

.left-img img,
.right-img img {
    width: 100%;
}

.vs {
    text-align: center;
    font-weight: bold;
}
.team-title{
    text-align: center;
}
.team-title p{
    font-size: 0.9em;
    color: grey;
}

/* 
.blog img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-texts {
    margin: 10px 20px;
}

.transfer-button {
    background: none;
    border: 1px solid black;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}

.card-bottom-text {
    display: flex;
    align-items: center;

}

.card-bottom-text div {
    margin-right: 20px;
}

.card-bottom-text div i {
    color: grey;
} */

.view-all {
    display: none;
}


/* Footer styles */

footer {
    height: 60vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 13, 13);
}

.footer-content {
    width: 80%;
    color: azure;
    text-align: center;
}

hr {
    border: 1px solid grey;
}

.footer-bottom {
    display: flex;
    justify-content: center;
}

.footer-bottom-texts {
    display: flex;
    width: 60%;
    color: grey;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.social-icons {
    display: flex;
    justify-content: center;
}

.icons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 24px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-linkedin-square {
    color: #0e76a8;
}

.fa-instagram-square {
    color: #f2003c;
}

.fa-whatsapp-square {
    color: #4FCE5D;
}

/* for mobile */
@media only screen and (max-width: 576px) {

    /* header styles */
    .banner-section {
        width: 90%;
        height: 85vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .banner-section div {
        width: 90%;
    }

    .header-texts {
        text-align: center;
    }

    .header-texts h1 {

        font-size: 1.5em;
    }

    .header-texts p {
        white-space: nowrap;
        font-size: 0.7em;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .header-img {
        margin-top: 30px;

    }

    .header-img img {
        width: 80%;

    }

    /* middle section style */
    /* middle section style */
    main {
        margin-top: 50px;
    }

    .middle-section {

        display: flex;
        flex-direction: column;
        width: 90%;

    }

    .side-menu {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 100px; */
        width: 90%;
    }

    .side-menu button {
        font-size: 1.2em;
        height: 70px;
        width: 80%;
    }

    .inactive-button {
        background: none;
        border: 1px solid grey;
    }

    .blogs {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        /* border: 1px solid red; */
        grid-row-gap: 20px;
    }

    .not-in-tabmobile {
        display: none;
    }


    /* Footer styles */
    footer {
        height: 70vh;
    }

    .footer-bottom-texts {
        flex-direction: column;
    }

    .icons {
        width: 50%;
    }

}



@media only screen and (min-width: 577px) and (max-width:992px) {

    /* header style */
    .banner-section {
        height: 50vh;
        width: 90%;
    }

    /* middle section style */
    .middle-section {
        display: flex;
        flex-direction: column;
        width: 90%;

    }

    .side-menu {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        width: 90%;
    }

    .side-menu button {
        font-size: 1.2em;
        height: 70px;
        width: 30%;
    }

    .inactive-button {
        background: none;
        border: 1px solid grey;
    }

    .blogs {

        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        grid-gap: 20px;
    }

    .not-in-tabmobile {
        display: none;
    }

    .view-all {
        display: block;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    /* footer style */
    footer {
        height: 40vh;
    }

    .icons {
        width: 40%;
    }
}